<h1><%=@client.name%></h1>
<h4>Here are Your Account Summaries:</h4>
<ul>
  <%@client.accounts.each do |account|%>
  <li><%=account.name if client.accounts%></li>
  <li><%=account.balance if client.accounts%></li>
  <%end%>
</ul>
