<h2>Welcome to Transactions</h2>
<h3>Please Choose from the Options Below:<h3>


<ol>
  <li><a href="/transactions/show">View Transactions for this Account</a></li>
  <li><a href="/clients/show">See Account Summary</a></li>
  <li><a href="/sessions/logout">Log Out</a></li>
</ol>
