<h1> Make a Deposit</h1>

<form method="post" action="/accounts/<%=@account.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Balance<input id="balance" type="integer" value="<%=@account.balance%>" name="balance">
  <input type="submit" value="submit">
</form>


<h1> Make a Withdrawl</h1>

<form method="post" action="/accounts/<%=@account.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Balance<input id="balance" type="integer" value="<%=@account.balance%>" name="balance">
  <input type="submit" value="submit">
</form>
