<h1> Update Your Account Name</h1>

<form method="patch" action="/accounts/#{@account.name}%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name<input id="name" type="text" value="<%=@account.name%>" name="name">
  <input type="submit" value="submit">
</form>
