<h2>Welcome to Accounts</h2>
<h3>These Are Your Current Account Balances<h3>

<%current_client.accounts.each do |account|%>
  <h3>Account: <%=account.name%></h3>
  <p>Balance: $<%=account.balance%></p>
<%end%>

<form action="/accounts/<%=@account.id%>/transfer" method="post">

<h3>Transfer Between Accounts </h3>
  <label>Transfer from</label>
  <br/>
  <input type="text" name="account.name" id="account.name" placeholder="account name">
  <br/>
  <label>Transfer To</label>
  <br/>
  <input type="text" name="account.name" id="account.name" placeholder="account name">
  <br/>
  <label>Amount to Transfer</label>
  <br/>
  <input type="text" name="transaction.amount" id="transaction amount">

  <input type="submit" value="Transfer">
</form>

<ol>
  <li><a href="/accounts/new">Create an Additional Account</a></li>
  <li><a href="/accounts/edit">Update Your Account Name</a></li>
  <li><a href="/sessions/logout">Log Out</a></li>
</ol>
