<h2>Welcome to Accounts</h2>
<h3>Please Choose from the Options Below:<h3>

<%current_client.accounts.each do |account|%>
  <h3>Account: <%=account.name%></h3>
  <p>Balance: $<%=account.balance%></p>
<%end%>

<ol>
  <li><a href="/accounts/new">Create an Additional Account</a></li>
  <li><a href="/clients/edit">Edit Your Contact Information</a></li>
  <li><a href="/accounts/show">See Account Summary</a></li>
  <li><a href="/sessions/logout">Log Out</a></li>
</ol>
