<h2>Welcome to Accounts</h2>
<h3>These Are Your Current Account Balances<h3>

<%current_client.accounts.each do |account|%>
  <h3>Account: <%=account.name%></h3>
  <p>Balance: $<%=account.balance%></p>
<%end%>

<ol>
  <li><a href="/accounts/new">Create an Additional Account</a></li>
  <li><a href="/accounts/edit">Update Your Account Name</a></li>
  <li><a href="/sessions/logout">Log Out</a></li>
</ol>
