
<form action="/accounts" method="POST">

<h3>Transfer Between Accounts </h3>
  <label>Transfer from</label>
  <br/>
  <input type="text" name="account.name" id="account.name" placeholder="account name">
  <br/>
  <label>Transfer To</label>
  <br/>
  <input type="text" name="account.name" id="account.name" placeholder="account name">
  <br/>
  <label>Amount to Transfer</label>
  <br/>
  <input type="text" name="transaction.amount" id="transaction amount">

  <input type="submit" value="Transfer">
</form>



<!--
<form method="patch" action="/accounts/<%=account.id%>">
  Account Name<input id="name" type="text" value="<%=@account.name%>" name="name">
  <input type="submit" value="submit">
</form>
-->


<br/>
<br/>
<h3>Transfer to Another Bank of Flatiron Account </h3>
  <label>Transfer from</label>
  <br/>
  <input type="text" name="account.name" id="account.name" placeholder="account name">
  <br/>
  <label>Client to Transfer To</label>
  <br/>
  <input type="text" name="client.name" id="client.name" placeholder="client name">
  <br/>
  <label>Amount to Transfer</label>
  <br/>
  <input type="text" name="transaction.amount" id="transaction amount">

  <input type="submit" value="Transfer">
</form>
