<h2>Client: <%=@account.name %> </h2>
<h3>Account Name: <%=@account.name%></h3>
<h3>Balance: <%=@account.balance%></h3>


<a href="/accounts/edit">Edit Your Account Name</a>
<a href="/transactions/new">Make a Deposit or Withdrawl</a>
