<h3><%=flash[:notice]%></h3>
<h3>Account: <%=@account.name%></h3>
<p>Balance: $<%=@account.balance%></p>

<form action="/accounts/<%=@account.id%>/new_transaction" method="post">

    <label>Choose Deposit or Withdrawl</label>
    <br/>
    <select name="transaction_type" id="transaction_type">
      <option tag="deposit" id="deposit" value="deposit">Deposit</option>
      <option tag="withdrawl" id="withdrawl" value="withdrawl">Withdrawl</option>
    </select>
    <input type="integer" name="transaction_amount" placeholder="amount">
    <br/>
    <input type="submit" value="Create New Transaction">
  </form>

<br/>

<h4><a href="/accounts/new">Create an Additional Account</a></h4>
